body{
    background-color: rgb(209, 209, 209);
    padding: 0;
    margin: 0;
    word-break:keep-all;
}

.article img{
    max-width: 20vw;
    object-fit: cover;
}

.article{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.article .info{
    padding: 20px;
    margin-left: 20px;
    width: 50%
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 12px;
    background-color: rgb(31, 126, 204);
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: auto;
    white-space: nowrap;
}
.links{
    justify-content: space-around;
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.logo{
    font-size:35px;
    font-weight:bolder;
    margin-top:-14px;
}
.logo:hover{
    color: white;
}
a{
    text-decoration: none;
    
}
.nav a{
    color: rgb(243, 243, 243);
    padding: 10px 15px;
    border-radius: 20px;
}

.links a:hover{
    color: rgba(253, 241, 127, 0.836)
}
.links a{
    background-color: rgba(14, 61, 99, 0.541);
    padding: 9px;
    border-radius: 14px;
    margin-left: 2px;
    font-size: 20px;
}

footer{
    background-color: black;
    height: 25px;
    color: white;
}

footer p{
    text-align: right;
    margin-right: 20px;
}
.menu{
    font-size: 30px;
    margin-top: -7px;
    color: white;
}
.menu:hover{
    cursor:pointer;
}


@media screen and (max-width:1200px) {
    .articles{
        grid-template-columns: 1fr;
    }
    .article img{
        max-width: 30vw;
    }
    .nav{
        font-size: 18px;
        display: block;
    }
    .links{
        margin: 15px 0;
    }
    .links a{
        font-size: 17px;
    }
}

@media screen and (max-width: 1000px) {
    .logo{
        margin-left: 0;
        font-size: 28px;
    }
    .nav{
        font-size: 16px;
    }
    .links{
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {

    .article img{
        max-width: 95vw;
    }
    .articles{
        width: 98vw;
    }
    .nav{
        font-size: 15px;
    }
    .article{
        display: block;
        max-width: 95vw;
        margin: 5px;
    }
    .article .info{
        width: 90%;
        margin-left: 5px;
    }
    .nav{
        padding: 0 10px;
    }
}